<html>
<head>
<style>
	body{
		color:cyan;
		background-color:yellow;
		background-image:url("C:\Users\ACER\OneDrive\Desktop\html\image.jpg");
	}
</style>
</head>
<body>
	<i>hii welcome to my web page</i>
	<i>this my html web page</i>
</body>
</html>
